/* GENERAL STYLES */

body {
    font-size: 16px;
    background: #eee;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

.page-wrapper {
    width: 100%;
}

/* HEADER AND NAV */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 15%;
}

#nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
#nav-bar a {
    text-decoration: none;
    color: black;
}

/* HERO AREA */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-bottom: 40px;
}

/* EMAIL AND BTN */
#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

#email {
    width: 25%;
    padding: 5px;
    margin-bottom: 15px;
}

#submit {
    width: 15%;
    padding: 8px;
    text-transform: uppercase;
    background: orange;
    border: none;
    font-weight: bolder;
}

/* FEATURES */

#features {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

.grid {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.grid h2 {
    margin: 0;
}

.text {
    flex: 5;
}

.icon {
    flex: 1
}

i {
    color: orange;
}

/* VIDEO */

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

iframe {
    border-radius: 3px;
}

/* PRICING */

/* section */
#pricing { 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 70px;
}
/* instruments */
.instrument {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    margin: 10px;

}
.level {
    background: #ddd;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 12px;
}
.instrument ul {
    list-style-type: none;
    padding: 0;
}

.instrument ul li {
    line-height: 25px;
    font-size: 12px;
}

.instrument h4 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.instrument button {
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px;
    border: none;
    background: orange;
    font-size: 16px;
    border-radius: 2px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
}

.footer-container {
    display: flex;
    flex-flow: column;
    background: #ddd;
    width: 70%;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 2px;
}

.privacy {
    flex: 1;
    margin: 10px;
}

.privacy a {
    text-decoration: none;
    color: black; 
}

.copyright {
    flex; 1;
    margin: 10px;
}

.copyright p {
    color: gray;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .page-wrapper {
        width: 640px;
    }

    #pricing {
        flex-flow: column;
    }
}